*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-image: url(iphone.png);
	background-color: rgba(255, 255, 0, 0.71);
	backdrop-filter: blur(5px);
}

.inside {
	display: none;
}

.main {
	height: 200px;
	width: 200px;
	background-color: darkblue;
}

.b-3-g {
	border: 3px solid grey;
}
.inp:focus {
	border: 3px solid blue;
}

.border-red {
	border: 3px solid red;
}

.text-red {
	color: red;
}


